<p>Exporting an excel file of type .xslx !!!</p>
<p>Export as XLSX by clicking the below button</p>
<button (click)="exportAsXLSX()"><i class="fa fa-file-excel-o" style="font-size:48px;color:blue"></i>Download excel File</button>
<table>
  <tr>
    <td>Eid</td>
    <td>Ename</td>
    <td>Esal</td>
  </tr>
  <tr *ngFor="let item of data">
    <td>{{item.eid}}</td>
    <td>{{item.ename}}</td>
    <td>{{item.esal}}</td>
  </tr>
</table>
